.home__content {
    display: flex;
    flex-direction: column;
}

.home__content h1 {
  font-weight: 700;
  margin-top: 3.2rem;
}

.home__content p {
  color: #777777;
  font-weight: 600;
  margin-bottom: 5.6rem;
}
