.card {
  width: 100%;
  min-width: 120px;
  max-width: 160px;
  height: 190px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
}

.card__info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1rem;
}

.card__info span, .card__info small {
  color: #FAFAFA;
}

.card__info span {
  font-weight: 700;
}

.card__info small {
  font-weight: 400;
}
