@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

ion-button {
  --background: #1bbcb6;
}

ion-content {
  --background: #fafafa;
}

ion-list {
  --background: transparent;
}

ion-item {
  --background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
small {
  color: #333333;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

span,
small {
  font-size: 1.2rem;
}

.container {
  padding: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
