._title {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.container_main {
    padding: 2.4rem;
}

.button {
    height: 56px;
}

.petsList_img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 8px;
}
.petsList_list {
    padding: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.petsList_list div {
    display: flex;
    align-items: center;

}