@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
.login__content {
    width: 100%;
    max-width: 480px;
}

.container_main {
    padding: 2.4rem;
}

.image_upload {
    border: dashed 2px #777777;
    border-radius: 100%;
    width: 138px;
    height: 138px;
    background-color: #F0F3F3;
}

.icon {
    width: 50%;
    height: 50%;
    color: #FFF;
}

.image_upload,
.image_upload_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image_upload_content {
    width: 100%;
}

.image_upload_content .image_upload_subtitle {
    font-family: "Open Sans";
}

.button {
    margin-top: 5.0rem;
}

.title {
    font-family: "Open Sans";
    font-weight: 600;
    padding-bottom: 1rem;
}