@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
.login__content {
    width: 100%;
    max-width: 480px;
}

.container_main {
    padding: 2.4rem;
}

.container_main ion-item {
    margin-bottom: 1.6rem;
}

ion-item::part(native) {
    padding-left: 0;
}

.icon {
    width: 50%;
    height: 50%;
    color: #FFF;
}

.button {
    margin-top: 5.0rem;
}

.title {
    font-family: "Open Sans";
    font-weight: 600;
    padding-bottom: 1rem;
    text-align: start;
    margin-top: 5.6rem;
    margin-bottom: 1.6rem;
}

.error {
    color: var(--ion-color-danger-tint);
}